Repository Schots/mlops_project: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, check-ast, check-docstring-first, nbqa-check-ast, nbmake

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
exclude: ".md$"
repos:
  - repo: local
    hooks:
      - id: ccmlops
        name: Conventional Commits for MlOps
        entry: ./.hooks/conventional_commits_for_mlops.py
        language: script
        description: Checks if commit message follows the commit guidelines for MlOps
        stages: [commit-msg]
        always_run: true
      - id: check-merge-conflict
        name: check for merge conflicts
        description: checks for files that contain merge conflict strings.
        entry: check-merge-conflict
        language: python
        types: [text]
      - id: trailing-whitespace
        name: trim trailing whitespace
        description: trims trailing whitespace.
        entry: trailing-whitespace-fixer
        language: python
        types: [text]
        stages: [commit, push, manual]
      - id: end-of-file-fixer
        name: fix end of files
        description: ensures that a file is either empty, or ends with one newline.
        entry: end-of-file-fixer
        language: python
        types: [text]
        stages: [commit, push, manual]
      - id: check-yaml
        name: check yaml
        description: checks yaml files for parseable syntax.
        entry: check-yaml
        language: python
        types: [yaml]
        stages: [commit]
      - id: check-added-large-files
        name: check for added large files
        description: prevents giant files from being committed.
        entry: check-added-large-files
        language: python
      - id: check-ast
        name: check python ast
        description: simply checks whether the files parse as valid python.
        entry: check-ast
        language: python
        types: [python]
      - id: check-docstring-first
        name: check docstring is first
        description: checks a common error of defining a docstring after code.
        entry: check-docstring-first
        language: python
        types: [python]
      - id: blacki
        name: black
        description: "Black: The uncompromising Python code formatter"
        entry: black
        require_serial: true
        language: python
        exclude: "kedro-init"
        types_or: [python, pyi]
        args: ["--line-length=79", "--experimental-string-processing"]
      - id: docformatter
        name: docformatter
        description: formats docstrings to follow PEP 257.
        entry: docformatter
        language: python
        types: [text]
        args: [--in-place]
        stages: [commit]
      - id: pylint
        name: pylint
        entry: pylint
        language: python
        require_serial: true
        types_or: [python, pyi]
        args:
          [
            "--disable=E0401,E1101,E1102,R0913,R0914,W0703,E0602,C0103,C0114,W0611,W0102,W0105, W1406, C0330,C0326,W0107,R1716,R0902",
            "--fail-under=9",
          ]
      - id: pip-sync-env
        name: pip-sync-env
        entry: bash -c 'make sync-env'
        language: system
      - id: nbqa-check-ast
        name: check if Jupyter Notebook AST is valid (check for syntax errors)
        description: Checks if the cells in a Jupyter Notebook has valid python code.
        entry: nbqa
        args: ['pre_commit_hooks.check_ast']
        language: python
        types: ['jupyter']
      - id: nbmake
        name: pytest --nbmake
        description: runs nbmake to check if the Jupyter Notebook is valid.
        entry: pytest
        args: ['--nbmake']
        language: system
        types: ['jupyter']

feat(update): cml on pr
  .github/workflows/cml.yml
Due: check-yaml

feat: cml in test-branch
  .github/workflows/cml.yml
Due: check-yaml

feat: cml in test-branch
  .github/workflows/cml2.yaml
Due: check-yaml

feat: cml in test-branch
  .github/workflows/cml.yml
  .github/workflows/cml2.yaml
Due: check-yaml

feat: cml in test-branch
  .github/workflows/cml.yml
  .github/workflows/cml2.yaml
  .github/workflows/forked.yml
  .github/workflows/pull_requests.yml
Due: check-yaml

feat(cml): update cml plots and plot size
  .dvc/plots/confusion.json
  .dvc/plots/confusion_normalized.json
  .dvc/plots/linear.json
  .dvc/plots/scatter.json
  .dvc/plots/simple.json
  .dvc/plots/smooth.json
  .github/workflows/cml.yml
Due: check-yaml

feat(cml): update cml plots and plot size
  .github/workflows/cml.yml
Due: check-yaml

feat(cml): adds plots
  .github/workflows/cml.yml
Due: check-yaml

feat(cml): customize plots
  .dvc/plots/confusion.json
  .dvc/plots/confusion_normalized.json
  .dvc/plots/linear.json
  .dvc/plots/scatter.json
  .dvc/plots/simple.json
  dvc.yaml
  dvc_plots/index.html
Due: check-yaml

fix(dependabot): pandas version
  requirements.txt
Due: none

fix(tox): speeding up the tox execution
  tox.ini
Due: none

fix(dependabot): pandas version
  requirements.in
Due: none

fix: removes unnecessary python matrix
  .github/workflows/forked.yml
  .github/workflows/pull_requests.yml
Due: check-yaml

fix: remove unused package
  conduct/__init__.py
  conduct/__main__.py
  conduct/versioning/__init__.py
  conduct/versioning/dvc_handler.py
  setup.py
Due: check-ast, check-docstring-first

fix: adds tox parallel processing
  .github/workflows/forked.yml
  .github/workflows/pull_requests.yml
Due: check-yaml

fix(requirements): dvc and kaggle location
  .github/workflows/cml.yml
  requirements-dev.in
  requirements-dev.txt
  requirements.in
  requirements.txt
Due: check-yaml

feat(eda notebooks): update notebook withe better analysis
  dvc.lock
  notebooks/02-dev-gusbruschi-eda.ipynb
  requirements.txt
Due: nbqa-check-ast, nbmake

fix(dependabot): dvc version to 2.9.4
  requirements-dev.txt
Due: none
