Repository Schots/mlops_project: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, check-ast, check-docstring-first, nbqa-check-ast, nbmake

check-yaml:
  name: check yaml
  description: checks yaml files for parseable syntax.
  entry: check-yaml
  language: python
  stages:
  - commit

check-ast:
  name: check python ast
  description: simply checks whether the files parse as valid python.
  entry: check-ast
  language: python

check-docstring-first:
  name: check docstring is first
  description: checks a common error of defining a docstring after code.
  entry: check-docstring-first
  language: python

nbqa-check-ast:
  name: check if Jupyter Notebook AST is valid (check for syntax errors)
  description: Checks if the cells in a Jupyter Notebook has valid python code.
  entry: nbqa
  args:
  - pre_commit_hooks.check_ast
  language: python

nbmake:
  name: pytest --nbmake
  description: runs nbmake to check if the Jupyter Notebook is valid.
  entry: pytest
  args:
  - --nbmake
  language: system

fix(makefile): remove unused target
  Makefile
Due: none

refactor: send *.joblib files to models folder
  Makefile
  dvc.lock
  dvc.yaml
  models/.gitignore
  reports/cfm.json
  reports/prc.json
  reports/roc.json
  reports/scores.json
  src/features/build_features.py
  src/models/train_model.py
  src/prepare/prepare_data.py
Due: check-yaml, check-ast, check-docstring-first

refactor: send *.joblib files to models folder
  dvc.lock
  requirements-dev.txt
  requirements.in
  requirements.txt
Due: none

fix(dvc): yaml cmd
  dvc.lock
  dvc.yaml
Due: check-yaml

refactor: model and args as parameters from params.yaml
  Makefile
  dvc.lock
  dvc.yaml
  params.yaml
  reports/prc.json
  reports/roc.json
  src/models/train_model.py
Due: check-yaml, check-ast, check-docstring-first

fix: adds the target as train and evaluate params
  dvc.lock
  dvc.yaml
  dvc_plots/index.html
  reports/prc.json
  reports/roc.json
Due: check-yaml

model: update params
  dvc.lock
  dvc_plots/index.html
  params.yaml
  reports/prc.json
  reports/roc.json
  reports/scores.json
Due: check-yaml

Add DVC tracked badge.
  README.md
Due: none

Update README.md
  README.md
Due: none

model: change params
  dvc.lock
  dvc_plots/index.html
  params.yaml
  reports/cfm.json
  reports/prc.json
  reports/roc.json
  reports/scores.json
  src/models/evaluate_model.py
Due: check-yaml, check-ast, check-docstring-first

fix(requirements): dependency location)
  requirements-dev.txt
  requirements.in
  requirements.txt
Due: none

eda(maike): adds hypothesis test
  notebooks/00-maike-eda.ipynb
Due: nbqa-check-ast, nbmake

eda(notebook): code cleaning
  notebooks/00-maike-eda.ipynb
Due: nbqa-check-ast, nbmake

refactor: implement a test of valid parameters
  src/models/train_model.py
Due: check-ast, check-docstring-first

fix(requirements): remove unused dependency
  requirements-dev.in
  requirements-dev.txt
Due: none

feat: adds Brier Score to dvc metrics
  dvc.lock
  reports/scores.json
  src/models/evaluate_model.py
Due: check-ast, check-docstring-first

feat: adds Matthews Correlation Coefficient to dvc metrics
  dvc.lock
  reports/scores.json
  src/models/evaluate_model.py
Due: check-ast, check-docstring-first

feat: update metrics plot format
  dvc.lock
  reports/scores.json
  src/models/evaluate_model.py
Due: check-ast, check-docstring-first

eda(notebook): fix sample size sample_size>30
  notebooks/00-maike-eda.ipynb
Due: nbqa-check-ast, nbmake

eda: data inspection and quality check
  notebooks/02_eda_devmessias.ipynb
Due: nbqa-check-ast, nbmake

eda: update statistical test
  notebooks/00-maike-eda.ipynb
Due: nbqa-check-ast, nbmake

build(pip)!: force downgrade numpy to 1.21.5
  requirements-dev.txt
  requirements.in
  requirements.txt
Due: none

ci: fix vega/cml pipe communication
  .github/workflows/cml.yml
Due: check-yaml

Add files via upload
  notebooks/02-wfco-sklearn-models.ipynb
Due: nbqa-check-ast, nbmake

Update requirements.in
  requirements.in
Due: none

eda: z-test for (non)survivors passengers Age feature
  notebooks/02_eda_devmessias.ipynb
Due: nbqa-check-ast, nbmake

Sklearn models with pipeline
  notebooks/02-wfco-sklearn-models.ipynb
Due: nbqa-check-ast, nbmake

eda: SHAP analysis
  notebooks/02-eda-devmessias.ipynb
Due: nbqa-check-ast, nbmake

eda: improve the seaborn plot style
  notebooks/02-eda-devmessias.ipynb
Due: nbqa-check-ast, nbmake

eda: delete comments
  notebooks/02-eda-devmessias.ipynb
Due: nbqa-check-ast, nbmake

fix: pre-commit command verbose
  Makefile
Due: none

fix: dvc, notebook, nbqa, and nbmake version
  requirements-dev.txt
  requirements.txt
Due: none

eda: update notebook
  notebooks/00-maike-eda.ipynb
Due: nbqa-check-ast, nbmake

eda: plot fareband over bars
  notebooks/00-maike-eda.ipynb
Due: nbqa-check-ast, nbmake

fix: update dependencies
  requirements-dev.txt
  requirements.txt
Due: none

eda: notebook with a model
  notebooks/00-maike-model.ipynb
Due: nbqa-check-ast, nbmake

eda: update notebook model
  notebooks/00-maike-model.ipynb
Due: nbqa-check-ast, nbmake

eda: update notebook
  notebooks/00-maike-model.ipynb
Due: nbqa-check-ast, nbmake

feat: remove prepare stage, and implement a new model
  Makefile
  dvc.yaml
  notebooks/00-maike-model.ipynb
  params.yaml
  reports/cfm.json
  reports/prc.json
  reports/roc.json
  reports/scores.json
  src/features/build_features.py
  src/features/custom_transformers.py
  src/models/evaluate_model.py
  src/prepare/.gitkeep
  src/prepare/__init__.py
  src/prepare/prepare_data.py
Due: check-yaml, check-ast, check-docstring-first, nbqa-check-ast, nbmake

eda: model udpate
  dvc.lock
  params.yaml
  reports/cfm.json
  reports/prc.json
  reports/roc.json
  reports/scores.json
Due: check-yaml

Path conditions:
  check-yaml: any of: \.(yaml|yml)$, but not: .md$
  check-ast: any of: \.py$, but not: .md$
  check-docstring-first: any of: \.py$, but not: .md$
  nbqa-check-ast: any of: \.ipynb$, but not: .md$
  nbmake: any of: \.ipynb$, but not: .md$
