Repository Schots/mlops_project: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, check-ast, check-docstring-first, nbqa-check-ast, nbmake

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
exclude: ".md$"
repos:
  - repo: local
    hooks:
      - id: ccmlops
        name: Conventional Commits for MlOps
        entry: ./.hooks/conventional_commits_for_mlops.py
        language: script
        description: Checks if commit message follows the commit guidelines for MlOps
        stages: [commit-msg]
        always_run: true
      - id: check-merge-conflict
        name: check for merge conflicts
        description: checks for files that contain merge conflict strings.
        entry: check-merge-conflict
        language: python
        types: [text]
      - id: trailing-whitespace
        name: trim trailing whitespace
        description: trims trailing whitespace.
        entry: trailing-whitespace-fixer
        language: python
        types: [text]
        stages: [commit, push, manual]
      - id: end-of-file-fixer
        name: fix end of files
        description: ensures that a file is either empty, or ends with one newline.
        entry: end-of-file-fixer
        language: python
        types: [text]
        stages: [commit, push, manual]
      - id: check-yaml
        name: check yaml
        description: checks yaml files for parseable syntax.
        entry: check-yaml
        language: python
        types: [yaml]
        stages: [commit]
      - id: check-added-large-files
        name: check for added large files
        description: prevents giant files from being committed.
        entry: check-added-large-files
        language: python
      - id: check-ast
        name: check python ast
        description: simply checks whether the files parse as valid python.
        entry: check-ast
        language: python
        types: [python]
      - id: check-docstring-first
        name: check docstring is first
        description: checks a common error of defining a docstring after code.
        entry: check-docstring-first
        language: python
        types: [python]
      - id: blacki
        name: black
        description: "Black: The uncompromising Python code formatter"
        entry: black
        require_serial: true
        language: python
        exclude: "kedro-init"
        types_or: [python, pyi]
        args: ["--line-length=79", "--experimental-string-processing"]
      - id: docformatter
        name: docformatter
        description: formats docstrings to follow PEP 257.
        entry: docformatter
        language: python
        types: [text]
        args: [--in-place]
        stages: [commit]
      - id: pylint
        name: pylint
        entry: pylint
        language: python
        require_serial: true
        types_or: [python, pyi]
        args:
          [
            "--disable=E0401,E1101,E1102,R0913,R0914,W0703,E0602,C0103,C0114,W0611,W0102,W0105, W1406, C0330,C0326,W0107,R1716,R0902",
            "--fail-under=9",
          ]
      - id: pip-sync-env
        name: pip-sync-env
        entry: bash -c 'make sync-env'
        language: system
      - id: nbqa-check-ast
        name: check if Jupyter Notebook AST is valid (check for syntax errors)
        description: Checks if the cells in a Jupyter Notebook has valid python code.
        entry: nbqa
        args: ['pre_commit_hooks.check_ast']
        language: python
        types: ['jupyter']
      - id: nbmake
        name: pytest --nbmake
        description: runs nbmake to check if the Jupyter Notebook is valid.
        entry: pytest
        args: ['--nbmake']
        language: system
        types: ['jupyter']

eda: update eda and model
  notebooks/00-maike-eda.ipynb
  notebooks/00-maike-model.ipynb
  src/features/build_features.py
Due: check-ast, check-docstring-first, nbqa-check-ast, nbmake

refactor: Makefile clean, params.yaml and scripts
  Makefile
  dvc.lock
  dvc.yaml
  dvc_plots/index.html
  params.yaml
  reports/cfm.json
  reports/prc.json
  reports/roc.json
  reports/scores.json
  src/features/build_features.py
  src/features/custom_transformers.py
  src/models/train_model.py
Due: check-yaml, check-ast, check-docstring-first

refactor: using argparse to receive parameters
  Makefile
  dvc.lock
  dvc.yaml
  models/.gitignore
  reports/prc.json
  reports/roc.json
  src/features/build_features.py
  src/models/evaluate_model.py
  src/models/train_model.py
Due: check-yaml, check-ast, check-docstring-first

eda: update notebook model
  dvc.lock
  notebooks/00-maike-model.ipynb
  params.yaml
  reports/cfm.json
  reports/prc.json
  reports/roc.json
  reports/scores.json
  src/models/evaluate_model.py
Due: check-yaml, check-ast, check-docstring-first, nbqa-check-ast, nbmake

eda: update notebook
  notebooks/00-maike-eda.ipynb
  notebooks/00-maike-model.ipynb
Due: nbqa-check-ast, nbmake

refactor: changes log string pattern
  src/data/make_dataset.py
Due: check-ast, check-docstring-first

refactor: rename main function, implement exception test
  src/features/build_features.py
Due: check-ast, check-docstring-first

refactor: change main function name to main
  src/models/evaluate_model.py
  src/models/train_model.py
Due: check-ast, check-docstring-first

fix: invalid scape sequence declaring regex pattern as raw
  src/features/custom_transformers.py
Due: check-ast, check-docstring-first

fix: only ignore the data folder on the root of the project
  .gitignore
Due: none

refactor: update tests organization
  tests/src/__init__.py
  tests/src/data/__init__.py
  tests/src/data/test_make_dataset.py
  tests/src/features/__init__.py
  tests/src/features/test_build_features.py
  tests/test_make_dataset.py
Due: check-ast, check-docstring-first

fix: pandas, black, pylint, and pre-commit version
  requirements-dev.txt
  requirements.txt
Due: none

fix: relative import
  src/__init__.py
  src/features/build_features.py
Due: check-ast, check-docstring-first

refactor: build_features test
  tests/src/features/test_build_features.py
Due: check-ast, check-docstring-first

fix: test setup
  .github/workflows/cml.yml
  configs.ini
  setup.py
  tests/src/features/test_build_features.py
Due: check-yaml, check-ast, check-docstring-first

refactor: add target test, update test setup without install src
  .github/workflows/cml.yml
  Makefile
  src/features/build_features.py
  tox.ini
Due: check-yaml, check-ast, check-docstring-first

fix: pre-commit deprecated arg --experimental-string-processing
  .pre-commit-config.yaml
Due: check-yaml

test: testing data download, build features script, and train model
  Makefile
  configs.ini
  reports/prc.json
  reports/roc.json
  requirements-dev.txt
  requirements.txt
  src/data/make_dataset.py
  src/features/build_features.py
  src/models/evaluate_model.py
  src/models/train_model.py
  tests/src/conftest.py
  tests/src/data/test_make_dataset.py
  tests/src/models/__init__.py
  tests/src/models/test_train.py
Due: check-ast, check-docstring-first

model: update model
  dvc.lock
  dvc_plots/index.html
  notebooks/00-maike-model.ipynb
  reports/cfm.json
  reports/prc.json
  reports/roc.json
  reports/scores.json
  src/features/custom_transformers.py
Due: check-ast, check-docstring-first, nbqa-check-ast, nbmake

fix: missing _ENV flag in tests name
  tests/src/conftest.py
  tests/src/data/test_make_dataset.py
  tests/src/features/test_build_features.py
  tests/src/models/test_train.py
Due: check-ast, check-docstring-first

test: adds test for config.ini and params.yaml
  tests/src/test_config_ini.py
  tests/src/test_params_yaml.py
Due: check-ast, check-docstring-first

model: update model params
  params.yaml
  reports/cfm.json
  reports/prc.json
  reports/roc.json
  reports/scores.json
Due: check-yaml

test: adds artefacts tests
  tests/src/data/test_make_dataset.py
  tests/src/data/test_make_dataset_after.py
  tests/src/features/test_build_features.py
  tests/src/features/test_build_features_after.py
  tests/src/models/test_train.py
Due: check-ast, check-docstring-first

fix: refactor paths
  src/features/build_features.py
  src/models/evaluate_model.py
  src/models/train_model.py
Due: check-ast, check-docstring-first

fix: wrong error handling
  src/models/train_model.py
Due: check-ast, check-docstring-first

test: check if a exception is raised
  src/models/train_model.py
  tests/test_train.py
Due: check-ast, check-docstring-first

fix: validation should go before doing heavy sutff
  src/models/train_model.py
Due: check-ast, check-docstring-first

fix: a very danger pattern
  src/models/train_model.py
Due: check-ast, check-docstring-first

feat: a generic classifiers namedtuple for sklearn
  src/models/train_model.py
  tests/test_train.py
Due: check-ast, check-docstring-first

fix: folders location are imutable
  Makefile
  src/models/train_model.py
  tests/test_train.py
Due: check-ast, check-docstring-first

feat: makefile target to list all classifiers
  Makefile
  requirements-dev.txt
  requirements.in
  requirements.txt
  src/models/train_model.py
Due: check-ast, check-docstring-first

fix: missing params arg
  src/models/train_model.py
  tests/test_train.py
Due: check-ast, check-docstring-first

feat: allow to access the docstring from make help-classifiers
  src/models/train_model.py
Due: check-ast, check-docstring-first
